header {
  background: chocolate;
}
.menuprincipal {
  background: darkgray;
}
body {
  background: rgb(48, 192, 48);
}
main {
  background: darkcyan;
}
ul {
  background: cornsilk;
}
.redes {
  background: burlywood;
}
